/* Layout.css */
.layout {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure the layout takes the full viewport height */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px; /* Example height */
    z-index: 1000; /* Ensure the header is above other content */
    border-bottom: 1px solid transparent; /* Transparent border to reserve space */
    box-shadow: 0 0.5px 0 #eee; /* Use box-shadow to create a 0.5px border */

}

.content {
    flex: 1; /* Allow the content to grow and take up remaining space */
    overflow-y: auto; /* Enable vertical scrolling for the content */
    margin-top: 45px; /* Add margin to avoid content being hidden under the header */
    margin-bottom: 50px; /* Add margin to avoid content being hidden under the tabbar */
}

.tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px; /* Example height */
    background-color: #f8f8f8; /* Example background color */
    z-index: 1000; /* Ensure the tabbar is above other content */
}
